//
// generated for: {{fullTablename}}
//
function {{tableName}}DbQuery(pgClient, options) {
  const q = tables.{{table_name}}
      .select(tables.{{table_name}}.star(){{{extra_select}}})
      .from(tables.{{table_name}})
      .toQuery();

  // pluck the known query options
  q.text = addKnownQueryParameters({
    table: tables.{{table_name}},
    sqlText: q.text,
    queryOptions: options
  });
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbQuery = {{tableName}}DbQuery;

async function _{{tableName}}Query(options, cb) {
  try {
    const pgClient = await pgPool.connect();

    try {
      // start a transaction
      await pgClient.query('BEGIN');

      // start the operation
      try {
        let result = await {{tableName}}DbQuery(pgClient, options);
        if (result.rows.length > 0) {
          cb(null, result.rows);
        } else {
          cb(new restifyErrors.NotFoundError('no {{table_name}} rows matching criteria found'));
        }
      } catch (err) {
        cb(err);
      } finally {
        await pgClient.query('COMMIT');
      }
    } catch (e) {
      log.error(`{{module}}.{{tableName}}Query(${JSON.stringify(options)}) failed: ${e.message}`);
      cb(e);
    } finally {
      log.trace(`releasing client ${pgClient.secretKey}`);
      pgClient.release();
    }
  } catch(e) {
    log.error(`connection failed: ${e.message}`);
    cb(wrapPgError(e));
  }
}

exports.{{tableName}}Query = (options, cb) => {
  const { callback, qOptions } = getQueryArguments(options, cb);
  log.debug(`${callback ? 'callback' : 'promise'}: {{module}}.{{tableName}}Query(${JSON.stringify(options)}`);

  if (callback) {
    _{{tableName}}Query(qOptions, callback);
  } else {
    return new Promise((resolve, reject) => {
      _{{tableName}}Query(qOptions, (err, results) => {
        if (err) {
          reject(err);
        } else {
          resolve(results);
        }
      });
    });
  }
};
{{#insert}}

function {{tableName}}DbInsert(pgClient, row) {
  const q = tables.{{table_name}}
    .insert(row)
    .returning(tables.{{table_name}}.star())
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbInsert = {{tableName}}DbInsert;

async function _{{tableName}}Insert({{tableName}}Rows, cb) {
  const array = _.isArray({{tableName}}Rows) ? {{tableName}}Rows : [ {{tableName}}Rows ];
  try {
    const pgClient = await pgPool.connect();

    try {
      // start a transaction
      await pgClient.query('BEGIN');

      try {
        // start the operation(s)
        const promises = _.map(array,  (o) => {
          return {{tableName}}DbInsert(pgClient, o);
        });

        // resolve promises and transaction
        insertPromisesResolve(pgClient, array, promises, cb);
      } catch (e) {
        cb(e);
      }
    } catch (e) {
      log.error(`_{{module}}.{{tableName}}Insert${JSON.stringify({{tableName}}Rows)}) failed: ${e.message}`);
      cb(e);
    } finally {
      log.trace(`releasing client ${pgClient.secretKey}`);
      pgClient.release();
    }
  } catch(e) {
    log.error(`connection failed: ${e.message}`);
    cb(wrapPgError(e));
  }
}

exports.{{tableName}}Insert = ({{tableName}}Rows, cb) => {
  log.debug(`${cb ? 'callback' : 'promise'}: {{module}}.{{tableName}}Insert(${JSON.stringify({{tableName}}Rows)}))`);

  if (cb) {
    _{{tableName}}Insert({{tableName}}Rows, cb);
  } else {
    return new Promise((resolve, reject) => {
      _{{tableName}}Insert({{tableName}}Rows, (err, results) => {
        if (err) {
          reject(err);
        } else {
          resolve(results);
        }
      });
    });
  }
};
{{/insert}}
{{#update}}

function {{tableName}}DbUpdate(pgClient, row) {
  const q = tables.{{table_name}}
    .update(row)
    .where(
    {{#primary_keys}}
       tables.{{table_name}}.{{primary_key}}.equals(row.{{primary_key}}){{comma}}
    {{/primary_keys}}
    )
    .returning(tables.{{table_name}}.star())
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbUpdate = {{tableName}}DbUpdate;

async function _{{tableName}}Update({{tableName}}Rows, cb) {
  const array = _.isArray({{tableName}}Rows) ? {{tableName}}Rows : [ {{tableName}}Rows ];
  try {
    const pgClient = await pgPool.connect();

    try {
      // start a transaction
      await pgClient.query('BEGIN');

      try {
        // start the operation(s)
        const promises = _.map(array, (o) => {
          return {{tableName}}DbUpdate(pgClient, o);
        });

        // resolve promises and transaction
        updatePromisesResolve(pgClient, array, promises, cb);
      } catch (e) {
        cb(e);
      }
    } catch (e) {
      log.error(`{{module}}.{{tableName}}Update${JSON.stringify({{tableName}}Rows)}) failed: ${e.message}`);
      cb(e);
    } finally {
      log.trace(`releasing client ${pgClient.secretKey}`);
      pgClient.release();
    }
  } catch(e) {
    log.error(`connection failed: ${e.message}`);
    cb(wrapPgError(e));
  }
}

exports.{{tableName}}Update = ({{tableName}}Rows, cb) => {
  log.debug(`${cb ? 'callback' : 'promise'}: {{module}}.{{tableName}}Update(${JSON.stringify({{tableName}}Rows)}))`);

  if (cb) {
    _{{tableName}}Update({{tableName}}Rows, cb);
  } else {
    return new Promise((resolve, reject) => {
      _{{tableName}}Update({{tableName}}Rows, (err, results) => {
        if (err) {
          reject(err);
        } else {
          resolve(results);
        }
      });
    });
  }
};
{{/update}}
{{#delete}}

function {{tableName}}DbDelete(pgClient, row) {
  const q = tables.{{table_name}}
    .delete(row)
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbDelete = {{tableName}}DbDelete;

async function _{{tableName}}Delete({{tableName}}Rows, cb) {
  const array = _.isArray({{tableName}}Rows) ? {{tableName}}Rows : [ {{tableName}}Rows ];
  try {
    const pgClient = await pgPool.connect();

    try {
      // start a transaction
      await pgClient.query('BEGIN');

      try {
        // start the operation(s)
        const promises = _.map(array, (o) => {
          return {{tableName}}DbDelete(pgClient, o);
        });

        // resolve promises and transaction
        deletePromisesResolve(pgClient, array, promises, cb);
      } catch (e) {
        cb(e);
      }
    } catch (e) {
      log.error(`{{module}}.{{tableName}}Delete${JSON.stringify({{tableName}}Rows)}) failed: ${e.message}`);
      cb(e);
    } finally {
      log.trace(`releasing client ${pgClient.secretKey}`);
      pgClient.release();
    }
  } catch(e) {
    log.error(`connection failed: ${e.message}`);
    cb(wrapPgError(e));
  }
}

exports.{{tableName}}Delete = ({{tableName}}Rows, cb) => {
  log.debug(`${cb ? 'callback' : 'promise'}: {{module}}.{{tableName}}Delete(${JSON.stringify({{tableName}}Rows)}))`);

  if (cb) {
    _{{tableName}}Delete({{tableName}}Rows, cb);
  } else {
    return new Promise((resolve, reject) => {
      _{{tableName}}Delete({{tableName}}Rows, (err, results) => {
        if (err) {
          reject(err);
        } else {
          resolve(results);
        }
      });
    });
  }
};
{{/delete}}
