{{#table_name}}
#
# BASE TABLE definition of public.{{table_name}}
#
{{#newRow}}
{{newRow}}:
{{#newRequired}}
  required: [ {{newRequired}} ]
{{/newRequired}}
  properties:
  {{#newProperties}}
    {{name}}:
      type: {{type}}
    {{#format}}
      format: {{format}}
    {{/format}}
    {{#maxLength}}
      maxLength: {{maxLength}}
    {{/maxLength}}
    {{#default}}
      default: {{{default}}}
    {{/default}}
  {{/newProperties}}
{{/newRow}}

{{#allOfRow}}
{{tableNameRow}}:
  allOf:
    - $ref: '#/definitions/{{newRow}}'
    {{#allOfRequired}}
    - required: [ {{allOfRequired}} ]
    {{/allOfRequired}}
    {{#allOfProperty}}
      properties:
      {{#allOfProperties}}
        {{name}}:
          type: {{type}}
          {{#format}}
          format: {{format}}
          {{/format}}
          {{#maxLength}}
          maxLength: {{maxLength}}
          {{/maxLength}}
          {{#default}}
          default: {{{default}}}
          {{/default}}
      {{/allOfProperties}}
    {{/allOfProperty}}
{{/allOfRow}}
{{/table_name}}
{{#view_name}}
#
# VIEW definition of public.{{view_name}}
#
{{tableNameRow}}:
  properties:
  {{#viewProperties}}
    {{name}}:
      type: {{type}}
      {{#maxLength}}
      maxLength: {{maxLength}}
      {{/maxLength}}
      {{#format}}
      format: {{format}}
      {{/format}}
  {{/viewProperties}}
{{/view_name}}

{{tableNameRows}}:
  type: array
  items:
    $ref: '#/definitions/{{tableNameRow}}'
