#
# definition of public.{{table_name}} operations
#
{{getEndPoint}}:
  get:
    summary: Get {{table_name}} rows
    operationId: {{tableName}}Query
    tags:
      - {{tags}}
    produces:
      - application/json
      - text/plain
    security:
      - BearerSecurity: []
      - ReadOnlySecurity: []
    parameters:
{{#getParameters}}
        {{#name}}
      - name: {{name}}
        {{#in}}
        in: {{in}}
        {{/in}}
        {{#description}}
        description: {{description}}
        {{/description}}
        required: {{required}}
        {{#type}}
        type: {{type}}
        {{#format}}
        format: {{format}}
        {{/format}}
        {{#default}}
        default: {{default}}
        {{/default}}
        {{#enum}}
        enum: {{enum}}
        {{/enum}}
        {{/type}}
        {{/name}}
        {{#ref}}
      - $ref: '{{{ref}}}'
        {{/ref}}
{{/getParameters}}
    responses:
      200:
        description: existing {{table_name}} rows
        schema:
          $ref: '#/definitions/{{tableName}}Rows'
      400:
        description: bad parameter or invalid value in request
        schema:
          $ref: '#/definitions/BadRequestError'
      401:
        description: unauthorized access denied
        schema:
          $ref: '#/definitions/UnauthorizedError'
      403:
        description: user is expressly denied access
        schema:
          $ref: '#/definitions/NotAuthorizedError'
      404:
        description: No items found
        schema:
          $ref: '#/definitions/NotFoundError'
{{#insertEndPoint}}
{{insertEndPoint}}:
  post:
    summary: Insert {{table_name}} rows
    operationId: {{tableName}}Insert
    tags:
      - {{tags}}
    security:
      - BearerSecurity: []
      - ReadWriteSecurity: []
    parameters:
      - name: {{newTableName}}Rows
        in: body
        description: add new {{table_name}} rows
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/{{newTableName}}Row'
    responses:
      200:
        description: new {{table_name}} rows
        schema:
          $ref: '#/definitions/{{tableName}}Rows'
      400:
        description: bad parameter or invalid value in request
        schema:
          $ref: '#/definitions/BadRequestError'
      401:
        description: unauthorized access denied
        schema:
          $ref: '#/definitions/UnauthorizedError'
      403:
        description: user is expressly denied access
        schema:
          $ref: '#/definitions/NotAuthorizedError'
      406:
        description: some sort of database error
        schema:
          $ref: '#/definitions/NotAcceptableError'
{{/insertEndPoint}}
{{#updateEndPoint}}
{{updateEndPoint}}:
  put:
    summary: Update {{table_name}} rows
    operationId: {{tableName}}Update
    tags:
      - {{tags}}
    security:
      - BearerSecurity: []
      - ReadWriteSecurity: []
    parameters:
      - name: {{tableName}}Rows
        in: body
        description: update existing {{table_name}} rows
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/{{tableName}}Row'
    responses:
      200:
        description: updated {{table_name}} rows
        schema:
          items:
            $ref: '#/definitions/{{tableName}}Rows'
      400:
        description: bad parameter or invalid value in request
        schema:
          $ref: '#/definitions/BadRequestError'
      401:
        description: unauthorized access denied
        schema:
          $ref: '#/definitions/UnauthorizedError'
      403:
        description: user is expressly denied access
        schema:
          $ref: '#/definitions/NotAuthorizedError'
      406:
        description: some sort of database error
        schema:
          $ref: '#/definitions/NotAcceptableError'
{{/updateEndPoint}}
{{#deleteEndPoint}}
{{deleteEndPoint}}:
  delete:
    summary: Delete {{table_name}} rows
    operationId: {{tableName}}Delete
    tags:
      - {{tags}}
    security:
      - BearerSecurity: []
      - ReadWriteSecurity: []
    parameters:
      - name: {{tableName}}Rows
        in: body
        description: delete existing {{table_name}} rows
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/{{tableName}}Row'
    responses:
      200:
        description: row count of affected rows
        schema:
          $ref: '#/definitions/DeletedRowCount'
      400:
        description: bad parameter or invalid value in request
        schema:
          $ref: '#/definitions/BadRequestError'
      401:
        description: unauthorized access denied
        schema:
          $ref: '#/definitions/UnauthorizedError'
      403:
        description: user is expressly denied access
        schema:
          $ref: '#/definitions/NotAuthorizedError'
      406:
        description: some sort of database error
        schema:
          $ref: '#/definitions/NotAcceptableError'
{{/deleteEndPoint}}